<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>관리자페이지</title>
</head>

<body>
  <p>관리자 페이지 리스트</p>

  <a href="/">홈으로</a>
    <table >
      <thead>
        <tr>
          <th>adminId</th>
          <th>userId</th>
          <th>noticeId</th>
          <th>weddingId</th>
          <th>roomId</th>
          <th>paymentId</th>
          <th>reservationId</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="adminPageList : ${adminPageList}" >
          <td th:text="${adminPageList.adminId}"></td>
          <td th:text="${adminPageList.userId}"></td>
          <td th:text="${adminPageList.noticeId}"></td>
          <td th:text="${adminPageList.weddingId}"></td>
          <td th:text="${adminPageList.roomId}"></td>
          <td th:text="${adminPageList.paymentId}"></td>
          <td th:text="${adminPageList.reservationId}"></td>
        </tr>
      </tbody>
    </table>
</body>

</html>