<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>관리자페이지</title>
    <style>
      tbody td {
        text-align: center;
        border: 1px dotted #555;
      }
      thead td {
        text-align: center;
        border: 3px solid black;
      }
    </style>
  </head>

  <body>
    <p>관리자 페이지 home입니다.</p>

    <button onclick="saveBtn()">임시저장</button>

    <button onclick="listBtn()">목록</button>
    <hr />
    <button type="button" id="listForm">룸 리스트</button>
    <button type="button" id="createForm">룸 생성</button>
    <div id="roomListContainer" style="border: 1px solid black"></div>
    <div id="roomModifyContainer" style="border: 1px solid black"></div>
    <script th:src="@{/js/roomList.js}"></script>
  </body>
  <script>
    const saveBtn = () => {
      location.href = "/adminPageSave";
    };
    const listBtn = () => {
      location.href = "/adminPageList";
    };
  </script>
</html>
