<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
  </head>
  <body>
    <div class="container">
      <input
        type="number"
        id="updateReservationId"
        name="reservationId"
        th:value="${reservation.reservationId}"
        readonly />
      <hr />
      <input
        id="updateReservationRoomId"
        type="number"
        name="roomId"
        th:value="${reservation.roomId}" />
      <hr />
      <input
        id="updateReservationUserId"
        type="number"
        name="userId"
        th:value="${reservation.userId}"
        readonly />
      <hr />
      <input
        id="updateReservationDate"
        type="text"
        name="reservationDate"
        th:value="${reservation.reservationDate}"
        readonly />
      <hr />
      <input
        id="updateReservationCheckIn"
        type="date"
        name="checkIn"
        th:value="${reservation.checkIn}" />
      <hr />
      <input
        id="updateReservationCheckOut"
        type="date"
        name="checkOut"
        th:value="${reservation.checkOut}" />
      <hr />
      <input
        id="updateReservationFinalPrice"
        type="number"
        name="finalPrice"
        th:value="${reservation.finalPrice}" />
      <hr />
      <input type="button" id="modifySubmit" value="수정" />
    </div>
  </body>
</html>
