<body>
  <link rel="stylesheet" th:href="@{/css/myReservation.css}" />
  <section class="ftco-section">
    <div class="container" id="reservationContainer">
      <div id="tableSection">
        <h2 class="myRv-h2">내 예약정보</h2>
        <table>
          <thead>
            <tr>
              <th>예약자</th>
              <th>예약 날짜</th>
              <th>룸 이름</th>
              <th>룸 타입</th>
              <th>CheckIn</th>
              <th>CheckOut</th>
              <th>결제 가격</th>
            </tr>
          </thead>
          <tbody>
            <tr id="reservationMain" th:each=" myList : ${myList}">
              <th scope="row" th:text="${myList.userName}"></th>
              <td th:text="${myList.reservationDate}"></td>
              <td th:text="${myList.roomName}"></td>
              <td th:text="${myList.roomType}"></td>
              <td th:text="${myList.checkIn}"></td>
              <td th:text="${myList.checkOut}"></td>
              <td th:text="${myList.finalPrice}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>