<table class="table table-dark table-hover">
  <thead>
    <tr>
      <td>예약 고유 번호</td>
      <td>예약한 회원 고유 번호</td>
      <td>회원이 예약한 룸 고유 번호</td>
      <td>체크 인 날짜</td>
      <td>체크 아웃 날짜</td>
      <td>예약한 날짜</td>
      <td>최종 예약 금액</td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="reservationList : ${reservationList}">
      <td
        id="reservationId"
        name="reservationId"
        th:text="${reservationList.reservationId}"></td>
      <td id="reservationUserId" th:text="${reservationList.userId}"></td>
      <td id="reservationRoomId" th:text="${reservationList.roomId}"></td>
      <td id="reservationCheckIn" th:text="${reservationList.checkIn}"></td>
      <td id="reservationCheckOut" th:text="${reservationList.checkOut}"></td>
      <td
        id="reservationDate"
        th:text="${reservationList.reservationDate}"></td>
      <td
        id="reservationFinalPrice"
        th:text="${reservationList.finalPrice}"></td>
      <td><button type="button" id="modifyMoveBtn">수정 폼 이동</button></td>
      <td><button type="button" id="deleteSubmit">삭제</button></td>
    </tr>
  </tbody>
</table>
