<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Galaxy Palace 웨딩 문의</title>

    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/weddingMy.css}" />
    <style>
        .myWd-h2 {
            font-size: 30px;
            margin-top: 30px;
            text-align: center;
            color: rgb(35, 35, 35);
            font-weight: bold;
            border-bottom: 3px solid #999999;
        }
    </style>
</head>

<body style="background-image: url(../img/space8.jpg);">
    <!-- <div th:replace="~{/fragment/header.html :: fragment-header}"></div> -->
    <!-- <div style="height: 100px; width: 100%;"></div> -->

    <div class="wedList">
        <div class="wedListTable">
            <div class="wedTableDiv">
                <h2 class="myWd-h2">내 문의내역</h2>
                <table class="wedTable">
                    <tr>
                        <!-- <th class="wedListNo">No</th> -->
                        <th class="wedListTitle">제목</th>
                        <th class="wedListWriter">작성자</th>
                        <th class="wedListDate">작성일</th>
                    </tr>
                    <tr th:each="wedding: ${weddingList}" th:if="${wedding.userId == myWedding}">
                        <!-- <td class="wedListNo" th:text="${wedding.weddingId}"></td> -->
                        <td class="wedListTitle"><a th:href="@{|/wedding/${wedding.weddingId}|}"
                                th:text="${wedding.weddingTitle}"></a></td>
                        <td class="wedListWriter" th:text="${wedding.userId}"></td>
                        <td class="wedListDate">
                            <span
                                th:if="${#temporals.format(wedding.weddingWriteDate, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
                                <span th:text="*{#temporals.format(wedding.weddingWriteDate, 'HH:mm')}"></span>
                            </span>
                            <span
                                th:unless="${#temporals.format(wedding.weddingWriteDate, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
                                <span th:text="*{#temporals.format(wedding.weddingWriteDate, 'yy-MM-dd')}"></span>
                            </span>
                        </td>
                    </tr>
                    <div class="wedBtnBar">
                        <button class="writeBtn"><a href="/wedding/weddingForm">신규 문의</a></button>
                        <!-- <button class="writeBtn" onclick="writeFormReq()"><span>신규 문의</span></button> -->
                    </div>
                </table>
            </div>

        </div>

    </div>
    <!-- <div th:replace="~{/fragment/footer.html :: fragment-footer}"></div> -->
</body>
<script>
    const writeFormReq = () => {
        window.location.href = "/wedding/weddingForm";
    }
</script>

</html>