<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <td>번호</td>
      <td>작성자</td>
      <td>제목</td>
      <td>작성시간</td>
      <td>조회</td>
      <td>삭제</td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="notice: ${noticeList}">
      <td th:text="${notice.id}"></td>
      <td th:text="${notice.userId}"></td>
      <td><a th:href="@{|notice/${notice.id}|}" th:text="${notice.title}"></a></td>
      <!-- <td th:text="*{#temporals.format(notice.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></td> -->
      <td th:text=${notice.writeDate}></td>
      <td><button type="button" th:id="noticeDetailBtn">
        <!-- 조회 -->
        <img src="https://ifh.cc/g/gs0Rv9.png" alt="아이콘" style="width: 30px; height: 30px;">
      </button></td>
      <td><button type="button" th:id="noticeDeleteBtn" >
        <!-- 삭제 -->
        <img src="https://ifh.cc/g/mO8TAn.png" alt="아이콘" style="width: 30px; height: 30px;">
      </button></td>
      <input type="hidden" id="noticeId" th:value="${notice.id}">

    </tr>
  </tbody>
</table>