<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Hotel Galaxy Palace 공지사항</title>

    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/noticeDetail.css}" />
</head>

<body style="background-image: url(../img/space8.jpg);">
    <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
    <div style="height: 100px; width: 100%;"></div>

    <div class="tableDetail">
        <table class="noticeTableDetail">
            <tr>
                <td class="tableTitle" th:text="${notice.title}"></td>
            </tr>
            <tr>
                <td class="tableDate" th:text="*{#temporals.format(notice.writeDate, 'yyyy-MM-dd HH:MM')}"></td>
            </tr>
            <tr>
                <td class="tableContent" th:text="${notice.content}"></td>
            </tr>
            <tr th:if="${notice.fileAttached == 1}">
                <th>image</th>
                <!-- <td th:each="fileName: ${notice.storedFileName}"><img th:src="@{'/images/' + ${fileName}}"></td> -->
                <td th:each="fileName: ${notice.storedFileName}"><img th:src="@{'/upload/images/' + ${fileName}}"></td>
            </tr>

        </table>

        <div class="detailBar">
            <button class="listBtn" onclick="listReq()">목록</button>
            <button class="updateBtn" onclick="updateReq()">수정</button>
            <button class="deleteBtn" onclick="deleteReq()">삭제</button>
        </div>
    </div>

</body>

<script th:inline="javascript">
    const id = "[[${notice.id}]]"

    const listReq = () => {
        const page = "[[${page}]]";
        location.href = "/notice/paging?page=" + page;
    }
    const updateReq = () => {
        location.href = "/notice/update/" + id;
    }
    const deleteReq = () => {
        location.href = "/notice/delete/" + id;
    }
</script>

</html>