<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Hotel Galaxy Palace 공지사항</title>

    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/noticeSave.css}" />
    <style>
        input::placeholder,
        textarea::placeholder {
            color: rgba(15, 15, 82, 0.5);
        }
    </style>
</head>

<body style="background-image: url(../img/space8.jpg);">
    <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
    <div style="height: 100px; width: 100%;"></div>

    <div class="noticeSave">
        <div class="saveForm">
            <form action="/notice/save" id="myForm" method="post" enctype="multipart/form-data">
                <!-- 파일첨부할때 enctype 필수-->

                <input type="hidden" name="userId" th:value="${user.id}"><br>
                <input class="saveTitle" type="text" name="title" placeholder="제목을 입력하세요"><br>
                <textarea class="saveContent" name="content" placeholder="내용을 입력하세요"></textarea><br>
                <label class="saveFileCss">
                    <input class="saveFile" type="file" name="noticeFile" multiple><br>
                </label>
                <!-- <input type="submit" value="작성"> -->
            </form>
        </div>
        <div class="saveBar">
            <button class="saveListBtn" onclick="listReq()">목록</button>
            <button class="saveSubmitBtn" onclick="submitForm()">제출</button>
        </div>
    </div>
    <div th:replace="~{/fragment/footer.html :: fragment-footer}"></div>
</body>

<script th:inline="javascript">
    const listReq = () => {
        location.href = "/notice/paging";
    }
    const submitForm = () => {
        document.getElementById("myForm").submit();
    }
</script>
</html>