<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save</title>
</head>
<body>
    <form action="/notice/save" method="post" enctype="multipart/form-data"> <!-- 파일첨부할때 enctype 필수-->
        
    작성자 : <input type="text" name="userId"><br>
    제목 : <input type="text" name="title"><br>
    내용 : <textarea name="content" cols="30" rows="10"></textarea><br>
    파일 : <input type="file" name="noticeFile" multiple><br>
    <input type="submit" value="작성">
    </form> 
</body>
</html>