<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>기본폼</title>

    <link rel="stylesheet" th:href="@{/css/noticeList.css}" />
</head>

<body style="background-image: url(../img/space8.jpg);"> 
    <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
    <div style="height: 100px; width: 100%;" ></div>
    <haeder>
        <br><br>
        <div>Galaxy Pallas</div>
        <br><br><br>
    </haeder>
    <table>
        <tr>
            <th>id</th>
            <th>writer</th>
            <th>title</th>
            <th>date</th>
        </tr>
        <tr th:each="notice: ${noticeList}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.userId}"></td>
            <td><a th:href="@{|notice/${notice.id}|}" th:text="${notice.title}"></a></td>
            <td th:text="*{#temporals.format(notice.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>

    <div>
        <button onclick="saveReq()">글작성</button>
    </div>
    <div th:replace="~{/fragment/footer.html :: fragment-footer}"></div>

    <script>
        const saveReq = () => {
            location.href = "/notice/save";
        }
    </script>
</body>
</html>