<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <form action="/notice/update" method="post" name="updateForm">
        <input type="hidden" name="id" th:value="${noticeUpdate.id}">
        작성자: <input type="text" name="userId" th:value="${noticeUpdate.userId}" readonly> <br>
        제목: <input type="text" name="title" th:value="${noticeUpdate.title}"> <br>
        내용: <textarea name="content" cols="30" rows="10" th:text="${noticeUpdate.content}"></textarea> <br>
        작성일: <input type="text" name="writeDate" th:value="${noticeUpdate.writeDate}" readonly> <br>
        <!-- 파일 : <input type="file" name="noticeFile" multiple><br>
        <div>
          <h4>첨부된 파일 목록:</h4>
          <ul>
              <li th:each="fileName : ${noticeUpdate.originalFileName}">
                  <span th:text="${fileName}"></span>
              </li>
          </ul>
        </div> -->
        <input type="submit" value="글수정">
      </form>
      <button onclick="listReq()">목록</button>

      <script th:inline="javascript">
        const listReq = () => {
          location.href = "/notice/paging";
        }
      </script>
</body>

</html>