<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>

  <body>
    <footer class="-footer" th:fragment="fragment-footer">
      <link rel="stylesheet" th:href="@{/fontawesome-5.5/css/all.min.css}" />
      <link rel="stylesheet" th:href="@{/css/footer.css}" />

      <div class="footer-container">
        <div class="footer-row">
          <div class="footer_left">
            <div class="logo_footer">
              <img th:src="@{/img/gplogo.png}" alt="푸터로고" />
            </div>
          </div>
          <div class="footer_right">
            <div class="footer_link">
              <p>
                <a href="#whatwedo">호텔소개</a>
                <span> | </span>
                <a href="/notice/paging">고객지원</a>
                <span> | </span>
                <a href="/kakaoMap">찾아오시는 길</a>
              </p>
            </div>
            <div class="footer_info">
              <p>
                상호명 : 호텔 갤럭시펠리스&nbsp;&nbsp;|&nbsp;&nbsp;대표자 :
                Mr.Galaxy
              </p>
              <p>사업자 : 123-45-12345</p>
              <p>사업장 : 강원특별자치도 영월군 영월읍 갤럭시펠리스길 397</p>
              <p>
                <a href="tel:051-790-2300" style="color: #fff"
                  >TEL : 032-123-1234</a
                >&nbsp;&nbsp;|&nbsp;&nbsp;FAX : 032-123-1234
              </p>
            </div>

            <div class="foot_copyright">
              <p>
                Copyright (C) Galaxy PALACE All rights reserved. Designed by
                <a href="#" target="_blink" class="color_theme">Mr.Galaxy</a>
              </p>
            </div>
            <div class="footer_sns_wrap">
              <div class="f_insta f_sns">
                <a href="https://www.instagram.com/" target="_sub">
                  <i class="fa-brands fa-instagram fa-lg"></i>
                </a>
              </div>
              <div class="f_blog f_sns">
                <a href="https://www.facebook.com/" target="_sub">
                  <i class="fa-brands fa-facebook fa-lg"></i>
                </a>
              </div>

              <div class="f_kakao f_sns">
                <a href="http://kakao.com/" target="blank">
                  <i class="fa-brands fa-kickstarter fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
