<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>
    </head>
</head>


<body style="background-image: url(../img/space8.jpg);">
    <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
    <div style="height: 130px; width: 100%;"></div>
    <!-- 이 아래다가 내용 넣어주시면 됩니다. -->

    <div class="container">
        <form action="/user/login" method="post">
            <input type="text" name="userId" placeholder="ID">
            <input type="password" name="userPassword" placeholder="PASSWORD">
            <button type="submit">로그인</button>
        </form>
        <span th:text="${failmsg}" style="color: red;"></span>
    </div>

</body>

</html>