<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../../static/css/tooplate-infinite-loop.css">
    <style>
        .memberjoincontainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .membership-form {
            width: 40%;
        }

        .memberjoin-inputcontainer {
            margin-bottom: 40px;
        }

        .memberjoin-submitbtn {}
    </style>
</head>


<body style="background-image: url(../img/space1.jpg);">
    <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
    <div style="height: 90px; width: 100%;"></div>

    <!-- <form action="/user/memberjoin" method="post">
        <input type="text" name="userId" placeholder="아이디"><br>
        <input type="password" name="userPassword" placeholder="비밀번호"><br>
        <input type="text" name="userAge" placeholder="주민등록번호"><br>
        <input type="text" name="userName" placeholder="이름"><br>
        <input type="number" name="userPhoneNumber" placeholder="핸드폰 번호"><br>
        <input type="text" name="userEmail" id="userEmail" placeholder="이메일">
        <button type="button" id="check">인증번호보내기</button><br>
        <label for="check" id="emailConfirmTxt">인증번호를 입력해주세요</label>
        <input type="text" class="form-control" id="emailConfirm">
        <input type="submit" value="회원가입">
    </form> -->
    <div class="memberjoincontainer">
        <form action="/user/memberjoin" method="post" class="membership-form">
            <div class="memberjoin-inputcontainer">
                <input type="text" name="userId" placeholder="사용할 아이디를 입력하세요" class="tm-input" id="userId"><br>
                <span id="userIdConfirmTxt"></span>
                <button type="button" id="idcheck" class="btn-primary">중복확인</button>
            </div>
            <div class="memberjoin-inputcontainer">
                <input type="password" name="userPassword" placeholder="비밀번호를 입력하세요" class="tm-input"><br>
                <input type="password" name="verifyPassword" placeholder="한번 더 같은 비밀번호를 입력하세요" class="tm-input">
            </div>
            <div class="memberjoin-inputcontainer">
                <input type="text" name="userName" placeholder="이름(성명)을 입력하세요" class="tm-input"><br>
            </div>
            <div class="memberjoin-inputcontainer">
                <input type="text" name="userAge" placeholder="YYYYMMDD(출생년도를 입력하세요)" class="tm-input"><br>
            </div>
            <div class="memberjoin-inputcontainer">
                <input type="number" name="userPhoneNumber" placeholder="전화번호를 입력하세요('띄어쓰기없이 '-'는 생략한형식)"
                    class="tm-input"><br>
            </div>
            <div class="memberjoin-inputcontainer">
                <input type="text" name="userEmail" id="userEmail" placeholder="사용할 이메일을 입력하세요" class="tm-input"><br>
                <button type="button" id="emcheck" class="btn-primary">인증번호 요청</button><br>
                <input type="text" class="tm-input" id="emailConfirm" placeholder="인증번호를 입력하세요"><br>
                <label for="check" id="emailConfirmTxt" class="verification-label"></label>
            </div>
            <button type="submit" class="memberjoin-submitbtn">회원가입</button>
        </form>
    </div>
    <script>

        // 이메일 인증번호 발송
        $("#emcheck").click(function () {
            $.ajax({
                type: "POST",
                url: "/emailconfirm",
                data: {
                    "email": $("#userEmail").val()
                },
                success: function (data) {
                    alert("해당 이메일로 인증번호 발송이 완료되었습니다.");
                    console.log("data : " + data);
                    emailFunc(data, $("#emailConfirm"), $("#emailConfirmTxt"));
                }
            })
        })

        // 이메일 인증번호 확인 함수
        function emailFunc(data, emailConfirm, emailConfirmTxt) {
            emailConfirm.on("keyup", function () {
                if (data != emailConfirm.val()) {
                    emailConfirmTxt.html("<span id='echeckTxt'>인증번호가 틀렸습니다.</sapn>");
                    $("#echeckTxt").css({
                        "color": "CC0000",
                        "font-size": "10px"
                    })
                } else {
                    emailConfirmTxt.html("<span id='echeckTxt'>인증번호 일치</sapn>");
                    $("#echeckTxt").css({
                        "color": "#44CC00",
                        "font-size": "11px"
                    })
                }
            })
        }

        // 아이디 정규식
        // $("#userId").on("keyup",function(){  //키보드 누르고떘을때마다 실행
        //     const regExp = /[a-z]+[a-z0-9]/g;

        //     if(!regExp.test($("#userId").val())) {
        //         $("#userIdConfirmTxt").html("사용할 수 없는 아이디입니다.");
        //         $("#userIdConfirmTxt").css({
        //             "color" : "#FF0000",
        //             "font-weight" : "bold",
        //             "font-size" : "14px"
        //         })
        //     }else{
        //         $.ajax({
        //             type : "POST",
        //             url : 
        //         })
        //     }
        // })


    </script>
</body>

</html>