.listBox {
  border: 1px solid rgb(0, 255, 38);
  display: flex;
}

.sidebarBox {
  border: 1px solid blue;
  width: 235px;

}
.containerBox {
  border: 1px solid red;
  width: 85%;
}

#roomListContainer {
  color: #ddd;
}

#roomModifyContainer {
  
}