@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

/* payState 블럭 */
.payState {
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  width: 60%;
  margin: auto;
}
/* 
  인풋 양식?
  width: 100%;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  background: transparent;
  color: white;
*/

/* userInfo 블럭 */
.userInfo {
  width: 60%;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  color: white;
  height: 200px;
  margin: auto;
  background: transparent;
}
.userInfo_a {
  height: 100px;
}
.userInfo_a_a {
  width: 48%;
  border: 1px solid white;
  border-radius: 6px;
  height: 50px;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 25px 0px 0 5px;
  box-sizing: border-box;
}


/* itemInfo 블럭 */
.itemInfo {
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  height: 240px;
  width: 60%;
  margin: auto;
  
}
.itemInfoBox {
  /* margin: 10px; */
  border: 1px solid blue;
}
.itemInfo_a {
  width: 100%;
  margin: 10px;
  height: 80px;
  display: flex;
}
.itemInfo_a_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 15%;
  /* margin: 10px; */
  height: 100%;
}
.itemInfo_a_b {
  width: 85%;
  /* margin: 10px; */
  height: 100%;
  border: 1px solid white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 30px;
}
.itemInfo_b {
  height: 100px;
  margin: 10px;
  width: 100%;
  display: flex;
  /* justify-content: ; */
}
.itemInfo_b_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 15%;
  /* margin: 10px; */
  height: 100%;
}
.itemInfo_b_b {
  height: 50%;
  height: 100%;
  /* margin: 10px; */
  width: 85%;
}
.itemInfo_b_b_a {
  border: 1px solid white;
  /* margin: 10px 10px 0 10px; */
  border-radius: 6px;
  font-weight: bold;
  height: 50%;
  width: 100%;
}
.itemInfo_b_b_b {
  height: 50%;
  width: 100%;
  display: flex;
}
.itemInfo_b_b_b_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 40%;
  height: 50px;
  /* margin: 0 0 10px 10px; */
}
.itemInfo_b_b_b_b {
  border: 1px solid white;
  border-radius: 6px;
  width: 60%;
  height: 50px;
  /* margin: 0 10px 10px 0; */
}


/* finalAmount 블럭 */
.paymetnInfoBox {
  border: 1px solid red;
  width: 60%;
  margin: auto;
}
.finalAmount {
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  background: transparent;
  height: 100px;
  display: flex;
  align-items: center;
}
.finalAmount_a {
  width: 50%;
  height: 50px;
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px 0 10px 10px;
  text-align: left;
}
.finalAmount_b {
  width: 50%;
  height: 50px;
  border: 1px solid white;
  border-radius: 6px;
  text-align: right;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}


/* discountAmount 블럭 */
.discountAmount {
  color: white;
  border: 1px solid white;
  height: 150px;
  padding: 8px 20px;
  border-radius: 6px;
  background: transparent;
  margin: auto;
}
.discountAmount_a {
  height: 50px;
  display: flex;
  margin: 10px;
}
.discountAmount_a_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 50%;
  text-align: left;
}
.discountAmount_a_b {
  border: 1px solid white;
  border-radius: 6px;
  width: 50%;
  text-align: right;
}
.discountAmount_b {
  height: 50px;
  display: flex;
  margin: 10px;
}
.discountAmount_b_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 50%;
  text-align: left;
}
.discountAmount_b_b {
  border: 1px solid white;
  border-radius: 6px;
  width: 50%;
  text-align: right;
  color: red;
}

/* paymentInfo 블럭 */
.paymentInfo {
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  background: transparent;
  height: 220px;
  margin: auto;
  align-items: center;
}
.paymentInfo_a {
  height: 50px;
  display: flex;
  margin: 10px;
}
.paymentInfo_a_a {
  border: 1px solid white;
  border-radius: 6px;
  width: 50%;
  text-align: left;
}
.paymentInfo_a_b {
  border: 1px solid white;
  border-radius: 6px;

  width: 50%;
  text-align: right;
}
.paymentInfo_b {
  /* border: 1px solid wheat; */
  height: 50px;
  display: flex;
  margin: 10px;
}
.paymentInfo_b_a {
  width: 50%;
  border: 1px solid white;
  border-radius: 6px;

  width: 50%;
  text-align: left;
}
.paymentInfo_b_b {
  width: 50%;
  border: 1px solid white;
  border-radius: 6px;

  text-align: right;
}
.paymentInfo_c {
  height: 50px;
  display: flex;
  margin: 10px;
}
.paymentInfo_c_a {
  width: 50%;
  border: 1px solid white;
  border-radius: 6px;
  text-align: left;
}
.paymentInfo_c_b {
  width: 50%;
  border: 1px solid white;
  border-radius: 6px;
  text-align: right;
}

.homebtn {
  width: 60%;
  margin: auto;
  border: 1px solid wheat;
  border-radius: 6px;
}