.right-div {
  background-color: rgba(255, 250, 250, 1);
}

#mypage-container {
  width: 100%;
  height: 100%;
}

.ftco-section {
  width: 100%;
  height: 100%;
}
#reservationContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#reservationContainer .table {
  width: 100%;
  height: 100%;
}

#tableSection {
  padding: 30px;
}

#tableSection table {
  width: 100%;
  height: 100%;
}

#tableSection table thead tr {
  font-size: 20px;
  border-bottom: 3px solid #333;
  text-align: center;
}
#tableSection table tbody {
  top: 30px;
  padding: 10px;
}
#tableSection table tbody tr {
  bottom: 10px;
}

#tableSection table tbody tr th,
#tableSection table tbody tr td {
  text-align: center;
  padding: 25px 0px 15px 0px;
  border-bottom: 1px solid #333;
}
