* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tableDetail {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(255,250,250, 1);
    /* position: relative; */
}

.noticeTableDetail {
    /* border: solid 1px red; */
    position: relative;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(15, 15, 82);
}

.tableDetail tr {
    border-bottom: solid 1px rgb(15, 15, 82);
}

.tableTitle, .tableDate {
    height: 40px;
}

.tableContent {
    height: 100%;
    vertical-align: top;
    padding-top: 10px;
}

img {
    max-width: 400px;
    
}

.tableDetail .filefile {
    border: none;
}


.detailBar {
    width: 700px;
    margin: auto;
    height: 80px;
}

.updateBtn {
    margin-left: 390px;
}

.controlBar {
    position: relative;
}
.amdinPage {
    position: absolute;
}

.listBtn, .updateBtn, .deleteBtn, .amdinPage{
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    background-color: rgb(15, 15, 82);
    color: whitesmoke;
}

.listBtn:hover, .updateBtn:hover, .deleteBtn:hover, .amdinPage:hover {
    background-color: darkslateblue;
    cursor: pointer;
    border: none;
}

