* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noticeSave{
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 580px;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(255,250,250, 1);
}


.saveForm {
    /* border: solid 1px red; */
    position: relative;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(15, 15, 82);
}

.saveTitle, .saveContent {
    width: 680px;
    margin: 5px;
}

.saveTitle {
    height:35px;
}

.saveTitle {
    /* border: solid 1px red; */
}

.saveContent {
    /* border: solid 1px red; */
    height: 300px;
    vertical-align: top;
    padding-top: 10px;
}

.saveFile {
    margin: 5px;
    width: 220px;
    font-size: 15px;
}

.saveFile:hover {
    cursor: pointer;
}

.saveBar {
    /* border: solid 1px red; */
    position: absolute;
    margin: 5px;
    width: 700px;
    transform: translateX(-50%);
    left: 50%; 
}

.saveListBtn, .saveSubmitBtn{
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    background-color: rgb(15, 15, 82);
    color: whitesmoke;
}

.saveListBtn:hover, .saveSubmitBtn:hover {
    background-color: darkslateblue;
    cursor: pointer;
    border: none;
}

.saveSubmitBtn {
    margin-left: 68%;
}
