* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noticeSave{
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 560px;
    margin: auto;
    margin-top: 2%;
    /* background-color: rgba(230, 230, 230, 0.5); */
}

