* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tableDetail {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 560px;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(230, 230, 230, 0.5);
    position: relative;
}

.noticeTableDetail {
    /* border: solid 1px red; */
    position: relative;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(15, 15, 82);
}

.tableDetail tr {
    border-bottom: solid 1px rgb(15, 15, 82);
}

.tableTitle, .tableDate {
    height: 40px;
}

.tableContent {
    height: 300px;
    vertical-align: top;
    padding-top: 10px;
}

.detailBar {
    /* border: solid 1px red; */
    position: absolute;
    width: 700px;
    transform: translateX(-50%);
    left: 50%; 
}

.listBtn, .updateBtn, .deleteBtn, .amdinPage{
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    background-color: rgb(15, 15, 82);
    color: whitesmoke;
}

.listBtn {
    margin-left: 1%;
    margin-right: 50%;
}

.updateBtn, .deleteBtn {
    margin-left: 10px;
}


.listBtn:hover, .updateBtn:hover, .deleteBtn:hover, .amdinPage:hover {
    background-color: darkslateblue;
    cursor: pointer;
    border: none;
}

.amdinPage {
    margin-left: 1%;
    margin-top: 1%;
}

