* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noticeList {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 560px;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(230, 230, 230, 0.5);
}

.noticeTable {
    /* border: solid 1px red; */
    position: relative;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(15, 15, 82);
}

.noticeTable tr {
    border-bottom: solid 1px rgb(4, 4, 26);
}

.noticeTable th, .noticeTable td {
    padding: 5px 15px 5px 15px;
}

.tableTitle {
    color: rgb(15, 15, 82);
}

.tableTitle:hover {
    text-decoration: underline;
    color: indianred;
}

.listBar {
    /* border: solid 1px red; */
    position: absolute;
    display: flex;
    width: 300px;
    transform: translateX(-50%);
    justify-content: space-between; 
    align-items: center; 
    left: 50%; 
    text-align: center;
}

.tableNo {
    /* border: solid 1px green; */
    width: 50px;
    text-align: right;
}

.tableName {
    /* border: solid 1px blue; */
    width: 90px;
    text-align: right;
}

.tableDate {
    /* border: solid 1px red; */
    width: 115px;
    text-align: right;
}

.listBar a {
    color: rgb(15, 15, 82);
}

.submitBtnDiv {
    /* border: 1px solid red; */
    position: absolute;
    width: 100px;
    left: 120%;
}

.submitBtn {
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    background-color: rgb(15, 15, 82);
    color: whitesmoke;
}

.submitBtn:hover {
    background-color:  darkslateblue;
    cursor: pointer;
    border: none;
}


.noticeDeleteBtn{
    border: none;
    border-radius: 7px;
    width: 50px;
    height: 25px;
    font-size: 13px;
    background-color: rgb(15, 15, 82);
    color: whitesmoke;
}

.noticeDeleteBtn:hover {
    background-color:  darkslateblue;
    cursor: pointer;
    border: none;
}
