.text1 {
    margin-left: 500px;
    margin: 80px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.text1 h5 {height: 28px;}

form {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

input {
    width: 600px;
}

textarea {
    width: 600px;
    height: 300px;
}