* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.wedList {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 1370px;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(230, 230, 230, 0.6);
}

.wedListTable {
    /* border: solid 1px red; */
    width: 750px;
    margin: auto;
    margin-top: 50px;
    color: rgb(15, 15, 82);
}