* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.wedList {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 35px;
    background-color: rgba(255,250,250, 1);
}

.wedListTable {
    /* border: solid 1px red; */
    width: 800px;
    margin: auto;
    margin-top: 80px;
    color: rgb(15, 15, 82);
}

.wedTable tr {
    border-bottom: solid 1px rgb(4, 4, 26);
}

.wedTable th {text-align: center;}

.wedTable th, .wedTable td {
    height: 40px;
}

.wedTable a, .wedBtnBar a {
    color: rgb(15, 15, 82);
}

.wedListNo {width: 50px; text-align: center;}
.wedListTitle {width: 500px; text-indent: 25px;}
.wedListWriter {width: 110px; text-align: center;}
.wedListDate{width: 100px; text-align: center;}

.wedBtnBar {
    width: 750px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

.wedBtnBar span {
    margin: 5px;
}








