* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

div {
    color: white;
} 

input,textarea {
    color: black;
    width: 100%;
}
textarea {
    height: 200px;
}

.div1 {
    margin: 30px;
}

.div2 {
    margin: 30px 30px 10px 30px;
}

.mainText {
    text-align: center;
    height: 250px;
    line-height: 300px;
}
.t1  {
    height: 150px;
    line-height: 300px;
    margin: 0;
    font-size: 25px;
}
.t2 {
    height: 150px;
    line-height: 100px;
    margin: 0;
    font-size: 40px;
}

legend {
    text-decoration: underline;
}

.weddingForm {
    width: 50%;
    margin: auto;
}

.field2 {
    margin-bottom: 0;
} 

.formbtn {
    width: 100%;
    height: 70px;
    margin: auto;
}

.okbtn, .cancelbtn {
    width: 150px;
    height: 45px;
    border-radius: 10px;

    /* background-color: transparent; */
    border: solid 1px white;
    background-color: white;
    /* background-color: #552b61; */
    /* border: none; */
    color: white;
    color: #552b61;

}

.okbtn {
    float: left;
    margin-left: 30px;
}

.cancelbtn {
    float: right;
    margin-right: 30px;
}