<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <p>Hello Project</p>
    <div><a th:href="@{/list}">출력</a></div>
    <div><a href="/memberjoin">회원가입</a></div>
    <div><a href="/login"></a></div>
    <a href="/paymentList"><button>결제리스트</button></a>
    <a href="/iamport"><button>결제API테스트</button></a>
  </body>
</html>
