<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <p>Hello Project</p>
    <div><a href="/memberjoin">회원가입</a></div>
    <div><a href="/login">로그인</a></div>
    <div><a href="/userlist">회원목록</a></div>
    <div><a href="/userupdate">내정보수정하기</a></div>
    <a href="/paymentList"><button>결제리스트</button></a>
    <a href="/iamport"><button>결제API테스트</button></a>
    <br /><br />
    <div><a href="/notice">공지사항</a></div>
    <br>
    <div><a href="/wedding/save">웨딩</a></div>
    <div><a href="/weddingBoard">문의게시판</a></div>
    <br>
    <a th:href="@{/room}"><button>Room_List</button></a>
    <a th:href="@{/createRoom}"><button>Create_Room</button></a>
    <a th:href="@{/modifyRoom}"><button>Modify_Room</button></a>
    <a th:href="@{/dropRoom}"><button>Drop_Room</button></a><br />
    <a th:href="@{/reservation/list}"><button>Reservation</button></a>
    <a th:href="@{/reservation/selectDate}"
      ><button>Create_Reservation</button></a
    >
  </body>
</html>
