<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Project</title>
  <style>
    .posting {
      display: flex;
    }
    .directions {
      /* color: white; */
      border: 1px solid #ddd;
      border-radius: 6px;
      width: 65%;
    }
    .directions_a {
      /* color: white; */
      border: 1px solid #ddd;
      border-radius: 6px;
      width: 35%;
    }

    .duration {
      font-weight: bold;
      color: black;
      /* text-align: center; */
    }
  </style>
</head>

<body>
  <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
  <div style="height: 100px; width: 100%;"></div>
  <!-- 헤더 불러오기 -->

  <!-- 지도크기 정하기 -->
  <div id="map" style="width:60%;height:500px; margin: auto; border-radius: 6px;"></div>
  <p><em style="display: none;">지도를 확대 또는 축소 해주세요!</em></p>
  <!-- 확대 축소 레벨 -->
  <p id="result" style="display: none;"></p>
  <div class="posting">
    <div class="directions">
      <div>주소 : 강원특별자치도 영월군 영월읍 갤럭시펠리스길 397</div>
      <div>문의 : 777-8888-9999</div>
      <br>
      <div class="duration">●서울 - 영월 (소요시간 2시간 10분)</div>
      <div>경부,중부 고속도로 - 신갈, 호법분기점(영동고속국도) - 만종분기점(중앙고속도로) - 제천 I.C(38번 국도) - 영월 I.C - 영월</div>
      <div class="duration">●대전 - 영월 (소요시간 2시간 30분)</div>
      <div>경부, 중부고속도로 - 청주(36번국도) - 제천(38번 국도) - 영월</div>
      <div class="duration">●부산 - 영월 (소요시간 4시간 30분)</div>
      <div>남해지선 - 내서 I.C(구마고속도로) - 대구금호분기점 (중부고속국도) - 제천 I.C(38번 국도) - 영월</div>
      <div class="duration">●광주 - 영월 (소요시간 4시간 30분)</div>
      <div>88고속국도 - 대구금호분기점(중앙고속국도) - 제천 I.C(38번국도) - 영월</div>
      <div class="duration">●대구 - 영월 (소요시간 2시간)</div>
      <div>중앙고속국도 - 제천 I.C(38번 국도) - 영월 I.C - 영월</div>
      <div class="duration">●강릉 - 영월 (소요시간 2시간 10분)</div>
      <div>영동고속국도 - 장평 I.C(31번 국도) - 평창(38번 국도) - 영월</div>
    </div>
    <div class="directions_a">
      <div class="duration">동절기 우회 안내</div>
      <div>동절기 도로 폐쇄로 동강시스타 및 38국도 하이원 방향에서 진입하시는 분들은 영월역 → 영월중 → Galaxy Palace(네비 게이션 검색)로 우회 하시기 바랍니다.</div>
    </div>
  </div>
  <!-- appkey는 카카오톡에서 javascript APP KEY를 넣으면 된다. -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=72870684bb5620c6901cc799241f0673"></script>
  <script src="@{/js/kakaoMap/zoomControl.js}"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
        center: new kakao.maps.LatLng(37.1992643, 128.4867431), // 지도의 중심좌표
        level: 6 // 지도의 확대 레벨, 숫자가 낮을수록 확대됨.
      };

    // 지도를 생성 
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 지도 타입 변경 컨트롤을 생성한다
    var mapTypeControl = new kakao.maps.MapTypeControl();

    // 지도의 상단 우측에 지도 타입 변경 컨트롤을 추가한다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'zoom_changed', function () {

      // 지도의 현재 레벨을 얻어옵니다
      var level = map.getLevel();

      var message = '현재 지도 레벨은 ' + level + ' 입니다';
      var resultDiv = document.getElementById('result');
      resultDiv.innerHTML = message;
    });

    // 마커가 표시될 위치입니다 
    var markerPosition = new kakao.maps.LatLng(37.1992643, 128.4867431);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      position: markerPosition,
      draggable: true, // 마커를 드래그 가능하도록 설정한다
    });


    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    //마커를 이미지로 교체 시 아래 주석 해제

    // // 마커 이미지의 주소
    // var markerImageUrl = 'https://ifh.cc/g/OHrJP8.png', 
    //     markerImageSize = new kakao.maps.Size(40, 42), // 마커 이미지의 크기
    //     markerImageOptions = { 
    //         offset : new kakao.maps.Point(1 , 18)// 마커 좌표에 일치시킬 이미지 안의 좌표
    //     };
    // // 마커 이미지를 생성한다
    // var markerImage = new kakao.maps.MarkerImage(markerImageUrl, markerImageSize, markerImageOptions);
    // // 지도에 마커를 생성하고 표시한다
    // var marker = new kakao.maps.Marker({
    //     position: new kakao.maps.LatLng(37.1992643, 128.4867431), // 마커의 좌표
    //     draggable: true, 
    //     image : markerImage, // 마커의 이미지
    //     map: map // 마커를 표시할 지도 객체
    // });


    //커스텀 오버레이 사용시 아래 주석 해제하고 하기

    // 커스텀 오버레이를 생성하고 지도에 표시한다
    // var customOverlay = new kakao.maps.CustomOverlay({
    //     map: map,
    //     content: '<div style="padding:0 5px;background:#fff;">갤럭시 펠리스</div>',
    //     position: new kakao.maps.LatLng(37.1983236, 128.4867607), // 커스텀 오버레이를 표시할 좌표
    //     xAnchor: 0.5, // 컨텐츠의 x 위치
    //     yAnchor: 0.5 // 컨텐츠의 y 위치
    // });

    // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    var iwContent = `<div style="padding:5px; color="blue;"><a href="/">갤럭시 펠리스</a></div>
          <div style="color: red;">5.0★★★★★<span style="color: gray;">(777건)| 리뷰 99</span></div>
          <div>강원특별자치도 영월군 영월읍 갤럭시펠리스길 397</div>
          <div>777-8888-9999</div><div><a href="/">홈페이지</a></div>
          <div>&nbsp;</div>
          `,
      // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다 
      iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
      content: iwContent,
      removable: iwRemoveable
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function () {
      // 마커 위에 인포윈도우를 표시합니다
      infowindow.open(map, marker);
    });



    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 장소를 검색합니다
    ps.keywordSearch('이태원 맛집', placesSearchCB);

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i = 0; i < data.length; i++) {
          displayMarker(data[i]);
          bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
      }
    }

  </script>
    <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
  
</body>

</html>