<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Project</title>

</head>

<body>
  <a href="/">홈으로</a>

 <div>주문이 완료되었습니다.</div>
 <div>주문번호 : [[${info.partner_order_id}]]</div>

 <div>[[${paymentDTO.userName}]]  [[${paymentDTO.userPhoneNumber}]]</div><div><button>변경</button></div>

 <p>요청사항</p>
 <div>15시 입실 예정이고, 차 1대 주차합니다.</div>

 미니로고  / 갤럭시펠리스
 
 <div>룸미니사진</div><div>[[${info.item_name}]]</div>
 [[${info.amount.total}]]
 <div>[[${info.quantity}]]</div>
 
 <!-- 연산한 가격이 나와야함 -->
 <div>최종 결제 금액</div> <div>[[${info.amount.discount}]]원</div> 
 <hr>
  <div>총 상품금액</div><div>[[${info.amount.total}]]원</div>
  <div>포인트 사용</div><div>-[[${info.amount.point}]]원</div>
  <hr>
  결제수단(방법) : [[${info.payment_method_type}]]
  결제카드 : <p th:if="${info.payment_method_type != 'MONEY'}">[[${info.card_info.getPurchase_corp()}]]</p>
  승인 일시 : [[${info.approved_at}]]
  <hr>
  <hr>
  <hr>

  <br /><br />
  결제일시: [[${info.approved_at}]]<br />
  주문번호: [[${info.partner_order_id}]]<br />
  상품명: [[${info.item_name}]]<br />
  상품수량: [[${info.quantity}]]<br />
  결제금액: [[${info.amount.total}]]<br />
  결제방법: [[${info.payment_method_type}]]<br />
  <p th:if="${info.payment_method_type != 'MONEY'}">카드이름: [[${info.card_info.getPurchase_corp()}]]</p>
  <hr>
  <h3>[[${info}]]</h3>
  <hr>
  <h3>[[${payment}]]</h3>
</body>

</html>