<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Galaxy Palace</title>
  <link rel="stylesheet" th:href="@{/css/kakaoPay.css}">
</head>

<body style="background-image: url(../img/space8.jpg);">
  <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
  <div style="height: 100px; width: 100%;"></div>

  <!-- <section class="tm-section-pad-top tm-parallax-2"> -->
  <div class="payState">
    <div>카카오페이 결제가 취소되었습니다.</div>
    <div>주문번호 : 11</div>
  </div>
  <!-- <hr>아래로 지우면됨 테스트용  -->
  <!-- tm-input -->
  <div class="userInfo">
    <div class="userInfo_a">
      <div class="userInfo_a_a">이재영</div>
      <div class="userInfo_a_a">01089898989</div>
    </div>
    <p>&lt; 요청사항 &gt; </p>
    <div>15시 입실 예정이고, 차 1대 주차합니다.</div>
  </div>
  <!-- <hr> -->
  <div class="itemInfo">
    <div class="itemInfoBox">
      <div class="itemInfo_a">
        <div class="itemInfo_a_a">로고</div>
        <div class="itemInfo_a_b">갤럭시펠리스</div>
      </div>
      <div class="itemInfo_b">
        <div class="itemInfo_b_a">룸사진</div>
        <div class="itemInfo_b_b">
          <div class="itemInfo_b_b_a">필로우 라이언</div>
          <div class="itemInfo_b_b_b">
            <div class="itemInfo_b_b_b_a">5000000원</div>
            <div class="itemInfo_b_b_b_b">1개</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr> -->
  <div class="paymetnInfoBox">
    <div class="finalAmount">
      <div class="finalAmount_a">최종 결제 금액</div>
      <div class="finalAmount_b">500000원</div>
    </div>
    <!-- <hr> -->
    <div class="discountAmount">
      <div class="discountAmount_a">
        <div class="discountAmount_a_a">총 상품금액</div>
        <div class="discountAmount_a_b">100000원</div>
      </div>
      <div class="discountAmount_b">
        <div class="discountAmount_b_a">포인트 사용</div>
        <div class="discountAmount_b_b">-10000원</div>
      </div>
    </div>

    <!-- <hr> -->

    <div class="paymentInfo">
      <div class="paymentInfo_a">
        <div class="paymentInfo_a_a">결제수단(방법) :</div>
        <div class="paymentInfo_a_b"> 카드</div>
      </div>
      <div class="paymentInfo_b">
        <div class="paymentInfo_b_a">결제카드 : </div>
        <div class="paymentInfo_b_b">딩가</div>
      </div>
      <div class="paymentInfo_c">
        <div class="paymentInfo_c_a">승인 일시 :</div>
        <div class="paymentInfo_c_b"> 23061411</div>
      </div>
    </div>
  </div>
  <!-- </section> -->
  <!-- <hr> -->
  <div class="homebtn">
    <button onclick="homeBtn()" class="btn tm-btn-submit">홈으로</button>
  </div>

  <!-- 여기서는 사용 안되고 있음
  <h2>[[${cancelInfo}]]</h2> -->

  <script>
    const homeBtn = () => {
      location.href = "/payment";
    }

  </script>
</body>

</html>
<!-- 
/* 
  인풋 양식?
  width: 100%;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 6px;
  background: transparent;
  color: white;
*/ -->