<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Galaxy Palace</title>
  <link rel="stylesheet" th:href="@{/css/kakaoPay.css}">
</head>

<body>
  <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
  <div style="height: 100px; width: 100%;"></div>

  <div class="payState" style="border-bottom: 1px solid #ddd; border-radius:  6px;">
    <div>카카오페이 결제가 취소되었습니다.</div>
    <div>주문번호 : [[${paymentDTO.reservationId}]]</div>
  </div>
  
  <div class="homebtn">
    <button onclick="homeBtn()" class="btn tm-btn-submit">홈으로</button>
  </div>

  <!-- 여기서는 사용 안되고 있음
  <h2>[[${cancelInfo}]]</h2> -->

  <script>
    const homeBtn = () => {
      location.href = "/payment";
    }

  </script>
  <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
</body>

</html>
