<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Project</title>
  <style>
    th {
      white-space: nowrap; /* 글자를 한 줄로 표시 */
      text-align: center;
    }
   
  </style>
</head>
<!-- 결제리스트 할떄 로그인되어있는지 확인 -->
<body>
  <!-- 헤더 불러오기 -->
  <!-- <a href="/adminPage">관리자 페이지 홈</a> -->
  <table class="table table-dark table-hover">  
    <thead>
      <tr>
        <td>결제 번호</td>
        <td>회원 이름</td>
        <td>예약 번호</td>
        <td>방 이름</td>
        <td>최종 결제 금액</td>
        <!-- <td>카카오 포인트</td> -->
        <!-- <td>할인된 금액</td> -->
        <td>결제 방식</td>
        <td>카드 이름</td>
        <td>결제 상태</td>
        <td>결제 시간</td>
        <td>조회</td>
        <td>삭제</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="paymentList : ${paymentList}">
        <td><a th:text="${paymentList.id}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.userId}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.reservationId}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.roomName}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.paymentAmount}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <!-- <td><a th:text="${paymentList.kakaoPoint}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td> -->
        <!-- <td><a th:text="${paymentList.discountAmount}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td> -->
        <td><a th:text="${paymentList.payment_method_type}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.cardName}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.payState}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><a th:text="${paymentList.approved_at}" th:onclick="'payInfo('+${paymentList.id}+')'"></a></td>
        <td><button type="button" th:id="paymentDetailBtn" >
          <!-- 조회 -->
          <img src="https://ifh.cc/g/gs0Rv9.png" alt="아이콘" style="width: 30px; height: 30px;">
        </button></td>
        <td><button type="button"  th:onclick="'deleteBtn('+${paymentList.id}+')'" th:id="'deleteBtn('+${paymentList.id}+')'">
          <!-- 삭제 -->
          <img src="https://ifh.cc/g/mO8TAn.png" alt="아이콘" style="width: 30px; height: 30px;">
        </button></td>
        <input type="hidden" id="payId" th:value="${paymentList.id}">
      </tr>
    </tbody>
  </table>
  </div>

  <script>
    function payInfo(id) {
      window.location.href = "/kakaoPaySuccessInfo/" + id;
    }

    function deleteBtn(id) {
      window.location.href = "/payment/delete/" + id;

    }

  </script>
</body>

</html>