<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<!-- iamport.payment.js-->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<title>호텔</title>
	<style>
		.kakaopayBtn {
			border: none;
			border-radius: 6px;

		}

		.infoBox {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 6px;
			margin: auto;
			color: black;
			height: 330px;
			width: 300px;

			/* display: flex; */

		}

		.kakaoPayForm {
			width: 300px;
		}

		.kakaoPayImg {
			/* width: 576px; */
			border-radius: 6px;
			width: 180px;
		}
		.top { 
			padding-top : 100px;
			text-align: center;
			color: #ddd;
		}
	</style>
	<link rel="stylesheet" th:href="@{/css/kakaoPay.css}">

</head>

<body style="background-image: url(../img/space8.jpg);">
	<div th:replace="~{/fragment/header.html :: fragment-header}"></div>
	<!-- 헤더 불러오기 -->
	<!-- 여기는 아임포트 연동으로 결제 준비 만하고 아직 승인 부분은 하지 않았다. -->
	<!-- <h2>IAMPORT 결제 데모</h2> -->
	<!-- <li> <button id="iamportPayment" type="button">통합결제API샘플</button> </li> -->
	<!-- <li> <button id="KakaoPayment" type="button">카카오페이API샘플</button> </li> -->
	<!-- 여기는 카카오가 만든 카카오페이API임 -->
	<h2 class="top"> kakaoPay api 이용하기 </h2>

	<div class="payState">
		<div>주문 정보 상세보기</div>
		<div>주문번호 : [[${reservationInfo.reservationId}]]</div>
	</div>

	<div class="userInfo">
		<div class="userInfo_a">
			<div class="userInfo_a_a">[[${paymentDTO.userName}]]</div>
			<div class="userInfo_a_a">[[${paymentDTO.userPhoneNumber}]]</div>
		</div>
		<div class="userInfo_b">
			<p>&lt; 요청사항 &gt; </p>
			<div>15시 입실 예정이고, 차 1대 주차합니다.</div>
		</div>
	</div>
	<div class="itemInfo">
		<div class="itemInfoBox">
			<div class="itemInfo_a">
				<div class="itemInfo_a_a"><!--로고--></div>
				<div class="itemInfo_a_b">갤럭시펠리스</div>
			</div>
			<div class="itemInfo_b">
				<div class="itemInfo_b_a"><!--룸미니사진--></div>
				<div class="itemInfo_b_b">
					<div class="itemInfo_b_b_a">[[${paymentDTO.roomName}]]</div>
					<div class="itemInfo_b_b_b">
						<div class="itemInfo_b_b_b_a">[[${reservationInfo.finalPrice}]] 원</div>
						<div class="itemInfo_b_b_b_b"> 1 개</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="paymentInfoBox">
		<div class="finalAmount">
			<div class="finalAmount_a">최종 결제 금액</div>
			<div class="finalAmount_b">[[${reservationInfo.finalPrice}]]원</div>
		</div>
			<form method="post" action="/kakaoPay" class="kakaoPayForm">
				<div>바로 결제하기 : </div>
				<button class="kakaopayBtn"><img th:src="@{/images/payment_icon_yellow_medium.png}" alt="카카오페이"
						class="kakaoPayImg"></button>
			</form>
	</div>


	<a href="/">홈으로</a>
	<!-- 
	<script type="text/javascript"> //문서가 준비되면 제일 먼저 실행
		//이니시스 API 연동
		$(document).ready(function () {
			$("#iamportPayment").click(function () {
				iamportPayment(); //버튼 클릭하면 호출
			});
		}) //버튼 클릭하면 실행


		function iamportPayment() {
			//IMP.request_pay(param, callback) 결제창 호출
			let uid = '';
			const IMP = window.IMP; // 생략 가능
			IMP.init('imp63442658');//아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력 / 예: imp00000000
			IMP.request_pay({// param
				// pg: "kakaopay", //pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐)
				pg: "html5_inicis", //pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐)
				pay_method: "card", //지불 방법
				merchant_uid: createOrderNum(),//가맹점 주문번호 (아임포트를 사용하는 가맹점에서 중복되지 않은 임의의 문자열을 입력)
				name: scName.textContent, //결제창에 노출될 상품명
				amount: cdPay.textContent, //금액
				buyer_email: email.textContent,
				buyer_name: userName.textContent,
				buyer_tel: phone.textContent.trim(),
				// buyer_addr: '서울특별시 강남구 삼성동',
				// buyer_postcode: '123-456',
				m_redirect_url: '{http://localhost:8080/iamport}' // 예: https://www.my-service.com/payments/complete/mobile
			}, function (rsp) { // callback 로직 //리디렉션 방식의 경우 콜백은 실행되지 않습니다.
				if (rsp.success) {//결제 성공시 : 결제 승인 또는 가상계좌 발급에 성공한 경우
					console.log("결제 성공시  : " + rsp);
					uid = rsp.imp_uid;
					//결제 검증
					$.ajax({
						url: '/order/verify_iamport/' + rsp.imp_uid,
						type: 'post'
					}).done(function (data) {
						//결제를 요청했던 금액과 실제 결제된 금액이 같으면 해당 주문건의 결제가 정상적으로 완료된 것으로 간주한다.
						if (cdPay.textContent == data.response.amount) {
							//jquery로 HTTP 요청
							//주문정보 생성 및 테이블에 저장

							//데이터를 json으로 보내기 위해 바꿔준다.
							data = JSON.stringify({
								"orderNum": rsp.merchant_uid, //주문번호
								"productNum": detailNum.textContent, //상품번호
								"num": userNum.value, //회원번호
								"productName": rsp.name,
								"orderDate": new Date().getTime(),
								"totalPrice": rsp.paid_amount,
								"imp_uid": rsp.imp_uid,
								"reserNum": reserNum.textContent //예약정보를 담고있는 번호
							});

							jQuery.ajax({
								url: '/order/comlete',
								type: 'POST',
								dataType: 'json',
								contentType: 'application/json',
								data: data
							})
								.done(function (res) {
									if (res > 0) {
										swal('주문정보 저장 성공');
										createPayInfo(uid);
									}
									else {
										swal('주문정보 저장 실패');
									}
								})
						}
						else {
							alert('결제 실패');
						}
					})
				} else {
					swal("결제에 실패하였습니다.", "에러 내용 : " + rsp.error_msg, "error");
					console.log("결제 실패 시 : " + rsp);
				}
			});
		}

		//주문번호 만들기 
		function createOrderNum(){
			const date = new Date();
			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, "0");
			const day = String(date.getDate()).padStart(2, "0");

			let orderNum = year + month + day;
			for(let i=0; i<10; i++) {
				orderNum += Math.floor(Math.random() * 8);
			}
			return orderNum;
		} -->

	<!-- // function payBtn() {
		//   //아래함수와 같다.
		// }
		const payBtn = () => {
			location.href = "/payment";
		}
	</script> -->
</body>

</html>