<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Project</title>
  <style>
    
    .paymentTable th,
    .paymentTable td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <a href="/">홈으로</a>
    <table class="paymentTable">
      <thead>
        <tr>
          <th>payId</th>
          <th>userId</th>
          <th>reservationId</th>
          <th>payType</th>
          <th>payTime</th>
          <th>payState</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="paymentList : ${paymentList}" >
          <td th:text="${paymentList.payId}"></td>
          <td th:text="${paymentList.userId}"></td>
          <td th:text="${paymentList.reservationId}"></td>
          <td th:text="${paymentList.payType}"></td>
          <td th:text="${paymentList.payTime}"></td>
          <td th:text="${paymentList.payState}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>