<div class="container">
  <label for="roomId">룸 고유 번호</label>
  <input
    type="number"
    id="updateRoomId"
    name="roomId"
    th:value="${data.roomId}"
    readonly />
  <hr />
  <label for="roomName">룸 이름</label>
  <input
    type="text"
    id="updateRoomName"
    name="roomName"
    th:value="${data.roomName}" />
  <hr />
  <label for="roomPrice">룸 기본 가격</label>
  <input
    type="number"
    id="updateRoomPrice"
    name="roomPrice"
    th:value="${data.roomPrice}" />
  <hr />
  <label for="roomType">룸 타입</label>
  <input
    type="text"
    id="updateRoomType"
    name="roomType"
    th:value="${data.roomType}" />
  <hr />
  <label for="roomDetailInfo">룸 상세 정보</label>
  <input
    type="text"
    id="updateRoomDetailInfo"
    name="roomDetailInfo"
    th:value="${data.roomDetailInfo}" />
  <hr />
  <label for="roomImagePath">룸 이미지 패스</label>
  <input
    type="text"
    id="updateRoomImagePath"
    name="roomImagePath"
    th:value="${data.roomImagePath}" />
  <hr />
  <input type="button" id="modifyRoomSubmit" th:value="수정" />
  <input
    type="button"
    name="modifyRoomCancel"
    id="modifyRoomCancel"
    th:value="취소" />
</div>
