<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
  </head>
  <body>
    <div class="container">
      <form th:action="@{|/Rooms/modify/${id}|}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input
          type="text"
          name="roomId"
          th:value="${roomData.roomId}"
          readonly />
        <hr />
        <input type="text" name="roomName" th:value="${roomData.roomName}" />
        <hr />
        <input
          type="number"
          name="roomPrice"
          th:value="${roomData.roomPrice}" />
        <hr />
        <input type="text" name="roomType" th:value="${roomData.roomType}" />
        <hr />
        <input
          type="text"
          name="roomDetailInfo"
          th:value="${roomData.roomDetailInfo}" />
        <hr />
        <input
          type="text"
          name="roomImagePath"
          th:value="${roomData.roomImagePath}" />
        <hr />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
