<table>
  <thead>
    <tr>
      <td>룸 고유번호</td>
      <td>룸 이름</td>
      <td>룸 가격</td>
      <td>룸 타입</td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="roomList : ${roomList}">
      <td th:text="${roomList.roomId}" id="roomId" name="roomId"></td>
      <td id="roomName" th:text="${roomList.roomName}"></td>
      <td id="roomPrice" th:text="${roomList.roomPrice}"></td>
      <td id="roomType" th:text="${roomList.roomType}"></td>
      <td><button type="button" id="modifyMoveBtn">수정 폼 이동</button></td>
      <td><button type="button" id="deleteRoomBtn">삭제</button></td>
    </tr>
  </tbody>
</table>
